trivial_torrent-v1/trivial_torrent/bin/*
trivial_torrent-v1/trivial_torrent/.settings/*
trivial_torrent-v1/trivial_torrent/.project
trivial_torrent-v1/trivial_torrent/.idea/*
trivial_torrent-v1/trivial_torrent/.cproject
trivial_torrent-v1/deliverables/*
trivial_torrent-v1/reference_binaries/*